@media only screen and (min-width: 320px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .imgContainer {
    height: 8rem;
    margin-right: 12rem;
  }

  .imgContiainer>img {
    height: 8rem;
  }

  .infoContainer>hr {
    width: 5rem;
  }

  .infoContainer>h2 {
    font-size: 1rem;
  }

  .infoContainer>p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .imgContainer>img {
    height: 15rem;
  }

  .imgContainer {
    height: 15rem;
    margin: 0px;
  }

  .infoContainer>hr {
    width: 20rem;
  }

  .infoContainer>h2 {
    font-size: 2rem;
  }

  .infoContainer>p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10vw;
  }

  .imgContainer {
    height: 25rem;
  }

  .infoContainer>hr {
    width: 40rem;
  }

  .infoContainer>h2 {
    font-size: 3rem;
  }

  .infoContainer>p {
    font-size: 2rem;
  }
}

.root {
  background-color: #000;
  width: 100%;
  min-height: 100vh;
}


.imgContainer {
  width: 30vw;
}

.imgContainer > .img {
    object-fit: cover !important;
    height: 25rem !important;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px var(--headerBlue);
}

.intro {
  color: white;
  padding: 5rem;
  margin-bottom: 10rem;
  background-image: url('/introbg2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  box-shadow: 0 1px 8px 1px var(--headerBlue);
}

.infoContainer {
  font-family: 'PT Serif', serif;
}

.infoContainer>hr {
  background-color: var(--headerPurple);
  border-color: #440137 var(--headerPurple);
  height: 2px;
  margin: 2vh 0 2vh;
}